*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.mask {
    display: none;
}

/* --------------------- HEADER --------------------- */

header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a {
    color: #333;
    text-decoration: none;
    font-size: 3rem;
    text-transform: capitalize;
}

/* --------------------- MAIN --------------------- */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#filtring {
    margin: 2rem;
}

section#filtring input#text-to-search {
    width: 16rem;
    background-color: #ddd;
    padding: 0.5rem;
    border-radius: 3px;
    border: #aaa solid 0.5px;
}

section#filtring select#categories {
    padding: 0.45rem;
    text-align: end;
}

section#fact-generated {
    border-radius: 5px;
    background: #7a7a7a38;
    text-align: center;
    padding: 3rem;
    margin-top: 1rem;
}

button#btn-generate {
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    margin-left: 1rem;
    padding: 0.65rem;
    cursor: pointer;
    transition: .45s ease-out;
}

/* --------------------- FOOTER --------------------- */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    text-align: center;
}
